
<ul class="share-icons-list">
  <li><a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><img src="{{ "/assets/images/facebook-icon.svg" | prepend: site.baseurl }}" alt="Facebook Share Icon" class="share-icon"></a></li>

  <li><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.author.twitter }}&related={{ site.author.twitter }}" rel="nofollow" target="_blank" title="Share on Twitter"><img src="{{ "/assets/images/twitter-icon.svg" | prepend: site.baseurl }}" alt="Twitter Share Icon" class="share-icon"></a></li>

  <li><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><img src="{{ "/assets/images/google-plus-icon.svg" | prepend: site.baseurl }}" alt="Google Plus Share Icon" class="share-icon"></a></li>
</ul>
