
@charset "utf-8";


@import "../../../bower_components/susy/sass/_susy.scss";
@import "../../../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "partials/normalize",
  "partials/variables",
  "partials/grid",
  "partials/syntax-highlighting",
  "partials/algolia";

// Our variables
$base-font-family: "Lato", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$base-font-size:   1.25rem;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.65;

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

// @import "normalize";
// @import "variables";

html,
button,
input,
select,
textarea {
  color: #4c515f;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
  height: 100%;
  line-height: $base-line-height;
  overflow-x: hidden;
}

* {
  transition: all .4s;
}



/* ==========================================================================
   Homepage
   ========================================================================== */

.container {
  @include container($mobile);

  @include breakpoint($on-desktop) {
    @include container($desktop);
  }
}

.homepage-background {
  background: url('/assets/images/homepage-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // min-height: 650px;
  height: 100%;
}

.homepage-logo-group {
  @include full;
  text-align: center;

  img {
    width: span(full);
    max-width: 25rem;
    height: 5.9375rem;
  }

  p {
    color: #fff;
    font-weight: 700;
    font-style: italic;
    font-size: 1.25rem;
  }

  @include breakpoint($on-desktop) {
    margin-top: 15vh;
    margin-bottom: 5vh;

    img {
      width: span(7);
      max-width: 35rem;
      height: 4.5rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}

.home-navigation {
  @include break;
  list-style: none;
  text-align: center;
  padding: 0;
  margin-bottom: 5rem;
  margin: 7vh auto;

  img {
    display: none;
  }

  @include breakpoint($on-desktop) {
    @include nobreak;

    img {
      display: inline-block;
      height: 124px;
    }
  }
}

@include breakpoint($on-desktop) {
  .blog-navigation-group {
    @include span(first 4 of 12);

    img {
      margin-left: 1.75rem;
    }
  }

  .work-navigation-group {
    @include span(4 of 12);
  }

  .about-navigation-group {
    @include span(last 4 of 12);
  }
}

.primary-button,
.secondary-button {
  color: #fff;
  text-decoration: none;
  text-align: center;
  width: span(3 of 4 wider);
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  border: none;
  padding: 10px 0;
  margin-top: 2rem;
  border: 2px solid $color-primary;
  display: block;
  margin: 2.5rem auto;

  @include breakpoint($on-desktop) {
    font-size: 24px;
    width: 12.5rem;
  }
}

.primary-button {
  background: $color-primary;

  &:hover {
    background: transparent;
  }
}

.secondary-button {
  background: transparent;

  &:hover {
    background: $color-primary;
  }
}

.moto {
  @include full;
  text-align: center;
  color: #fff;
  opacity: .5;
  font-size: 1.5rem;
  font-weight: 900;
  font-style: italic;
  margin: 2vh auto;

  span {
    opacity: 1;
  }

  @include breakpoint($on-desktop) {
    font-size: 3rem;
  }
}

.blog-icon,
.about-icon {
  opacity: .15;
}



/* Navigation
   ========================================================================== */

.tiny-logo {
  float: left;
  margin-top: .7rem;
}

.main-header {
  background: $color-primary;
}

.menu-text {
  display: none;

  @include breakpoint($on-desktop) {
    display: inline-block;
    margin: 0 .6rem;
  }
}

.main-navigation {
  position: relative;
}

.menu {
  float: right;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 900;
  padding: 1.1rem 0;

  img {
    height: 1.5rem;
    margin-left: .3rem;
    margin-bottom: .2rem;
  }
}

.menu-is-closed-icon {
  position: absolute;
  right: -200px;
  opacity: 0;

  &.is-active {
    position: relative;;
    right: 0;
    opacity: 1;
  }
}

.menu-is-open-icon {
  position: absolute;
  right: -100px;
  opacity: 0;
  padding: 1.1rem;

  &.is-active {
    position: relative;;
    right: 0;
    opacity: 1;
  }
}

.menu-open {
  @include full;
  padding: 0;
  margin: 0;
  display: none;

  &.is-active {
    display: block;
  }

  li {
    text-align: center;
    list-style: none;
    border-bottom: 1px solid darken($color-primary, 10%);

    &:first-child {
      border-top: 1px solid darken($color-primary, 10%);
    }
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1rem;
    color: #9c3428;
    display: block;
    width: 100%;
    height: 100%;
    padding: 1rem 0;

    &.active {
      color: #fff
    }
  }

  @include breakpoint($on-desktop) {
    @include nobreak();
    float: right;
    width: auto;
    margin-right: 2rem;

    li {
      float: left;
      border: none;

      &:first-child {
        border: none;
      }
    }

    a {
      padding: 1.1rem 1.5rem;
    }
  }
}



/* ==========================================================================
   Blog Page
   ========================================================================== */

.post-title,
.project-title a {
  color: $color-headings;
  line-height: 1.3;
  font-size: 1.5rem;

  @include breakpoint($on-desktop) {
    font-size: 2rem;
  }

  &:hover {
    text-decoration: none;
  }
}

article {
  font-size: 1rem;

  @include breakpoint($on-desktop) {
    font-size: 1.25rem;
  }

  h1 {
    @include full;
    margin-bottom: 0;
  }

  a {
    color: $color-primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.divide-line {
  display: block;
  border-bottom: 1px solid lighten(#bdc3c7, 20%);
  margin: 2rem 0;

  @include breakpoint($on-desktop) {
    @include push(first 1);
    @include span(4);
  }
}

.divide-line-small {
  display: inline-block;
  border-bottom: 1px solid lighten(#bdc3c7, 20%);
  width: 3rem;
}

.blog-post {
  text-decoration: none;
  font-size: 1rem;
  color: #4c515f;

  @include breakpoint($on-desktop) {
    @include span(last 11 of 12);
    font-size: 1.25rem;
    padding-left: span(1) / 2.5;
    margin: 1rem 0;

    &:hover {
      padding-left: span(1) / 1.5;
      transition: padding-left .2s ease-out;
      border-left: 5px solid $color-primary;
    }
  }
}

.post-title {
  margin-bottom: 0;
}

.posts-list {
  list-style: none;
  padding: 0;
  margin-top: 5rem;

  li:last-child .divide-line {
    display: none;
  }
}

.category,
.project-type {
  @include full;
  margin-bottom: 2rem;
  margin-top: -.3rem;
  font-weight: 400;
  font-style: italic;
  color: #ccc;
}

.category {
  @include breakpoint($on-desktop) {
    margin-top: 0;
    font-size: 1.25rem;
  }
}



/* Pagination
   ========================================================================== */

.page-bottom {
  @include full;
  font-size: 1.125rem;
  border-top: 1px solid lighten(#bdc3c7, 20%);
  margin: 5rem 0 15rem 0;
  padding: .5rem 0;

  .pagination {
    float: right;
  }

  .page-end {
    display: none;

    @include breakpoint($on-desktop) {
      display: inline-block;
    }
  }

  .page-end,
  .pagination-link-inactive {
    text-transform: uppercase;
    font-weight: 900;
    color: lighten(#bdc3c7, 15%);
  }

  .pagination-link {
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    color: $color-primary;
  }

  a.pagination-link:hover {
    color: darken($color-primary, 10%);
  }

  .new-posts:after {
    display: inline-block;
    content: "|";
    color: lighten(#bdc3c7, 15%);
    margin: 0 .5rem;
  }
}

.main-footer {
  background: #fff;
  font-size: .875rem;
  font-weight: 400;
  font-style: italic;
  color: lighten(#bdc3c7, 5%);
  border-top: 1px solid lighten(#bdc3c7, 20%);

  .license {
    @include container($desktop);
    padding-bottom: 1rem;

    a {
      color: $color-primary;
      text-decoration: none;
    }
  }
}

.wrapper {
  min-height: 100%;
  margin-bottom: -3.25rem;
}

::-webkit-input-placeholder {
   color: lighten(#bdc3c7, 10%);
}

:-moz-placeholder { /* Firefox 18- */
   color: lighten(#bdc3c7, 10%);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: lighten(#bdc3c7, 10%);
}

:-ms-input-placeholder {
   color: lighten(#bdc3c7, 10%);
}

input[type=search] {
  outline: none;
}

.main-search {
  display: block;
  text-shadow: none;
  color: #bdc3c7;
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 700;
  border: none;

  @include breakpoint($on-desktop) {
    @include span(last 11 of 12 wide);
    margin: 2rem 0;
  }
}



/* ==========================================================================
   Article Page
   ========================================================================== */

.post-page,
.blog-post {
  p code,
  li code {
    background: #f6f6f6;
    padding: .2rem .5rem;
    color: #777;
    font-size: .85rem;

    @include breakpoint($on-desktop) {
      font-size: 1rem;
    }
  }
}

.project-images {
  @include full;
  padding-bottom: 5rem;
}

.post-page {
  margin-top: 4rem;

  @include breakpoint($on-desktop) {
    @include span(last 9 of 12 narrow);
  }

  .post-title {
    margin: 0;
  }

  .post-content {
    margin-bottom: 10rem;

    img {
      width: 100%;
      height: auto;
      max-width: 750px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6, {
      margin-top: 3rem;
    }
  }
}

#disqus_thread {
  margin-top: 6rem;
}

.project-page .post-content {
  margin-bottom: 3rem;
}

.sidebar-main-list,
.sidebar-project-list,
.sidebar-inner-list {
  list-style: none;
  padding: 0;
  line-height: 1.5;

  h3 {
    font-size: 1rem;
    margin-bottom: .2rem;
    color: $color-headings;
  }

  .text-muted {
    color: #bdc3c7;
    font-style: italic;
    font-weight: 400;
  }

  .tag-link {
    font-style: italic;
    font-weight: 400;
    color: $color-primary;
  }

  .post-image {
    margin-bottom: 1rem;
  }
}

.sidebar-project-list,
.sidebar-main-list {
  text-align: center;
  margin: 4rem 0;

  @include breakpoint($on-desktop) {
    @include span(first 2 of 12 wider);
    text-align: right;
  }
}

.sidebar-project-list {
  margin-top: 3.3rem;
}

.share-icons-list li {
  display: inline-block;
  padding-left: 1rem;
}



/* ==========================================================================
   About Page
   ========================================================================== */

.about-portrait {

  @include breakpoint($on-desktop) {
    // background: url(../images/portrait.jpg) no-repeat 6rem 0rem fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  @include breakpoint(75em) {
    background-position: 9rem -1rem;
  }

  @include breakpoint(90em) {
    background-position: 12rem -3rem;
    background-size: 90%;
  }
}

.about-content {
  margin-top: 2rem;

  p {
    color: #4c515f;
    font-size: 1.15rem;
  }

  @include breakpoint($on-desktop) {
    @include span(first 7 of 12 wide);
  }

  .work-tools-icons {
    list-style: none;
    padding: 0;
    margin: 2rem 0 0 0;

    li {
      display: inline-block;
      margin: 0 1.5rem 1.5rem 0;
    }

    .desaturate {
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      filter: grayscale(100%);
      opacity: .75;

      &:hover {
        -webkit-filter: none;
        -moz-filter: none;
        filter: none;
        opacity: 1;
      }
    }
  }

  .divide-line-small {
    margin: 1rem 0 1rem 0;
  }

  .hire-button {
    color: $color-primary;
    background: #fff;
    display: block;
    text-decoration: none;
    // text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    border: 2px solid $color-primary;
    padding: .5rem 2rem;
    margin: 1rem 0 10rem 0;
    max-width: 15rem;

    &:hover {
      background: $color-primary;
      color: #fff;
    }
  }
}



/* ==========================================================================
   Project Page
   ========================================================================== */

.projects-page-heading {
  text-align: center;
  margin: 4rem 0 3rem 0;
  color: $color-primary;
  font-size: 1.75rem;

  @include breakpoint($on-desktop) {
    font-size: 2.5rem;
  }
}

.projects {
  list-style: none;
  padding: 0;

  li:last-child {
    margin-bottom: 12rem;
  }

  li:nth-child(even) {

    .project-text {
      @include breakpoint($on-desktop) {
       @include span(last 6 of 12);
      }
    }

    .project-image {
      @include breakpoint($on-desktop) {
        @include span(first 5 of 12 wider);
      }
    }
  }
}

.project {
  margin: 6rem 0;
  text-align: center;
  display: block;
  color: #4c515f;
  padding: 1.25rem;
  text-decoration: none;
  font-size: 1.15rem;

  &:hover {
    background: #fafafa;

    .project-title {
      color: $color-primary;
    }
  }

  @include breakpoint($on-desktop) {
    text-align: left;
  }

  &-title {
    margin-bottom: 0;
  }

  &-link {
    text-decoration: none;
    color: $color-primary;
    font-style: italic;
  }

  &-text {
    @include breakpoint($on-desktop) {
      @include span(first 6 of 12);
    }
  }

  &-image {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    max-width: 420px;
    text-align: center;

    @include breakpoint($on-desktop) {
      @include span(last 5 of 12 wider);
    }
  }
}


/* ==========================================================================
   Default Page
   ========================================================================== */

.post {
  margin: 3rem 0 6rem;
}


code,
kbd,
pre,
samp {
  @include breakpoint($on-desktop) {
    font-size: 1rem;
  }
}
/* ==========================================================================
   Contact Page
   ========================================================================== */


.contact-form {

  .successfull-submision {
    float: left;
    font-size: 1rem;
    padding: 1.3rem;
    margin: 0;
    color: rgba(#27ae60, .75);
  }

  input,
  textarea {
    @include span(full);
    margin: .5rem 0;
    padding: .5rem;
    border: 2px solid #eee;
  }

  input:focus,
  textarea:focus {
    outline: none !important;
    border: 2px solid rgba($color-primary, .5);
}

  textarea::-webkit-input-placeholder,
  input::-webkit-input-placeholder {
    color: rgba($color,.3);
    // font-weight: 900;
  }
  textarea::-moz-placeholder,
  input::-moz-placeholder {
    color: rgba($color,.3);
    // font-weight: 900;
  }
  textarea:-moz-placeholder, /* Older versions of Firefox */
  input:-moz-placeholder {
    color: rgba($color,.3);
    // font-weight: 900;
  }
  textarea:-ms-textarea-placeholder,
  input:-ms-input-placeholder {
    color: rgba($color,.3);
    // font-weight: 900;
  }
}

.gotcha {
  display: none;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.unstyled-list {
  list-style: none;
  padding-left: 0;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
