---
layout: default
title: Marius Mateoc | Blog
---

<div class="container">

  <!-- <input type="search" results="5" placeholder="Search in Blog" name="s" class="main-search"> -->
  <input type="text" results="5" class="algolia__input js-algolia__input" autocomplete="off" name="query" placeholder="Search in this blog..." />

  <div class="algolia__initial-content js-algolia__initial-content">

    <ul class="posts-list">
    {% for post in paginator.posts %}
      <li>
        <a href="{{ post.url | prepend: site.baseurl }}" class="blog-post">
          <h1 class="post-title">{{ post.title }}</h1>
          <span class="category">Filled in {{ post.category }}</span>
          {{ post.content | strip_html | truncatewords: 45 }}
        </a>
        <span class="divide-line"></span>
      </li>
    {% endfor %}
    </ul>

    {% if paginator.total_pages > 1 %}

      <div class="page-bottom">
        <span class="page-end">End Page</span>

        <div class="pagination">
          {% if paginator.previous_page %}

            {% if paginator.previous_page == 1 %}
              <a href="{{ '/blog/' | prepend: site.baseurl | replace: 'index.html' }}" class="pagination-link new-posts">Newer Entries</a>
            {% else %}
              <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="pagination-link new-posts">Newer Entries</a>
            {% endif %}

          {% else %}
            <span class="pagination-link-inactive new-posts">Newer Entries</span>
          {% endif %}

          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="pagination-link">Older Entries</a>
          {% else %}
            <span class="pagination-link-inactive">Older Entries</span>
          {% endif %}
        </div>

      </div>

    {% endif %}
  </div>

  <div class="algolia__search-content js-algolia__search-content">
    <div class="algolia__results"></div>
  </div>

</div>
