---
layout: default
---
<div class="container">

  <div class="post-page">
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <span class="category">Filled in {{ page.category }}</span>
      <p class="post-meta"></p>
    </header>

    <article class="post-content">
      {{ content }}

      {% if site.enable_disqus %}
        {% if page.comments %}
          <div id="disqus_thread"></div>

          <script>
            // var disqus_config = function () {
            // this.page.url = '{{ site.url }}{{ page.url }}';
            // this.page.identifier = '{{ page.url }}';
            // };

            (function() {
            var d = document, s = d.createElement('script');

            s.src = '//mariusmateoc.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        {% endif %}
      {% endif %}
    </article>

  </div>

    <aside class="sidebar">

      <ul class="sidebar-main-list">
        <li>
          {% if page.category contains 'Coding' %}
            <img src="{{ "/assets/images/code-icon.svg" | prepend: site.baseurl }}" alt="Coding-Icon" class="post-image">
          {% elsif page.category contains 'Photoshop' %}
            <img src="{{ "/assets/images/photoshop-icon.svg" | prepend: site.baseurl }}" alt="Coding-Icon" class="post-image">
          {% elsif page.category contains 'Folder' %}
            <img src="{{ "/assets/images/folder-organization-icon.svg" | prepend: site.baseurl }}" alt="Coding-Icon" class="post-image">
          {% elsif page.category contains 'Workflow' %}
            <img src="{{ "/assets/images/workflow-icon.svg" | prepend: site.baseurl }}" alt="Coding-Icon" class="post-image">
          {% else %}
            <img src="{{ "/assets/images/other-icon.svg" | prepend: site.baseurl }}" alt="Coding-Icon" class="post-image">
          {% endif %}
        </li>
        <li>
          <ul class="sidebar-inner-list">
            <li><h3 class="meta-title">Marius Mateoc</h3></li>
            <li class="text-muted">Web Designer &amp; Frontend Develover</li>
          </ul>
        </li>
        <li><span class="divide-line-small"></span></li>
        <li>
          <ul class="sidebar-inner-list">
            <li><h3 class="meta-title">Published</h3></li>
            <li class="text-muted">{{ page.date | date: "%B %Y" }}</li>
          </ul>
        </li>
        <li><span class="divide-line-small"></span></li>
        <li>
          <ul class="sidebar-inner-list">
            <li><h3 class="meta-title">Tags</h3></li>
            <li class="tag-link">{% for tags in page.tags %}#{{ tags }}  {% endfor %}</li>
          </ul>
        </li>
        <li><span class="divide-line-small"></span></li>
        <li>
          <ul class="sidebar-inner-list">
            <li><h3 class="meta-title">Share</h3></li>
            {% include social.html %}
          </ul>
        </li>
      </ul>
    </aside>


</div>
