$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 12,
  gutters: .25,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  )
);

$mobile: (
  columns: 4,
  container: 90%,
);

$desktop: (
  columns: 12,
  container: 980px,
);

$on-tablet: 40em;
$on-desktop: 64em;

